@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-light: #CFE3E9;
  --color-brand: #6C9DAF;
}

html,
body {
  @apply bg-white
}
